{
  "music": {
    "name": "迷える音色は恋の唄",
    "artist": "からとP⍺ոchii少年 feat.はるの",
    "music_id": "79c70e1b34f3ff064f206e90c796be9e",
    "jacket": "4da0504dfb02762bd872b20149552213",
    "is_deluxe": true
  },
  "difficulty": 3,
  "track_no": 4,
  "play_date": 1742797695,
  "achievement": 1000101,
  "score_rank": 12,
  "deluxe_score": 2178,
  "is_clear": true,
  "max_combo": 429,
  "total_combo": 833,
  "max_sync": 629,
  "total_sync": 1666,
  "fast_count": 6,
  "late_count": 4,
  "tap_critical_perfect": 409,
  "tap_perfect": 220,
  "tap_great": 31,
  "tap_good": 5,
  "tap_miss": 2,
  "hold_critical_perfect": 21,
  "hold_perfect": 6,
  "hold_great": 1,
  "hold_good": 0,
  "hold_miss": 0,
  "slide_critical_perfect": 88,
  "slide_perfect": 0,
  "slide_great": 0,
  "slide_good": 0,
  "slide_miss": 0,
  "touch_critical_perfect": 10,
  "touch_perfect": 0,
  "touch_great": 0,
  "touch_good": 0,
  "touch_miss": 0,
  "break_critical_perfect": 30,
  "break_perfect": 10,
  "break_great": 0,
  "break_good": 0,
  "break_miss": 0,
  "combo_status": 0,
  "sync_status": 5,
  "is_achieve_new_record": true,
  "is_deluxe_new_record": false,
  "before_rating": 13183,
  "after_rating": 13183,
  "vs_rank": 1,
  "is_perfect_challenge": false,
  "is_course": false,
  "is_kaleidx": false,
  "life": 0,
  "total_life": 0
}
