{
  "achievements": 100.9007,
  "ds": 12.7,
  "dxScore": 1375,
  "fc": "fcp",
  "fs": "fsd",
  "level": "12+",
  "level_index": 4,
  "level_label": "Re:MASTER",
  "ra": 285,
  "rate": "sssp",
  "song_id": 17,
  "title": "Future",
  "type": "SD"
}
